<!DOCTYPE html>
<html lang="en">
<body>
	 <h1>Emotional Facial Animation Generator</h1>
	 <form action="/emotional-facial-animation/rest/generate-animation" method="post" enctype="multipart/form-data">
		<h2>Public Parameters</h2>
		<p>
			<label for="sentence_jaso">Sentence File (.txt, mandatory)</label>
			<input type="file" name="sentence_jaso">
		</p>
		<p>
			<label for="sentence_neural_timing">TTS Activation File (.npy, mandatory)</label>
			<input type="file" name="sentence_neural_timing">
		</p>
		<p>
			<label for="sentence_audio_wav">TTS Audio File (.wav, mandatory)</label>
			<input type="file" name="sentence_audio_wav">
		</p>
		<p>
			Gender of the speaker (mandatory):
			<input type="radio" id="speaker_gender_man" name="speaker_gender" value="30001" checked>
			<label for="speaker_gender_man">Man</label>
			<input type="radio" id="speaker_gender_woman" name="speaker_gender" value="30002">
			<label for="speaker_gender_woman">Woman</label>
		</p>
		<p>
			Hair model of the speaker:
			<input type="radio" id="hair_model_0" name="hair_model" value="0" checked>
			<label for="hair_model_0">0</label>
			<input type="radio" id="hair_model_1" name="hair_model" value="1">
			<label for="hair_model_1">1</label>
		</p>
		<p>
			Emotional strengths (0 is the weakest, 1 is the strongest):
			<div>
				<label for="emotion_strength[10001]">Happiness</label>
				<input type="number" name="emotion_strength[10001]" min="0" max="1" step="0.1" value="0">
			</div>
			<div>
				<label for="emotion_strength[10002]">Anger</label>
				<input type="number" name="emotion_strength[10002]" min="0" max="1" step="0.1" value="0">
			</div>
			<div>
				<label for="emotion_strength[10003]">Disgust</label>
				<input type="number" name="emotion_strength[10003]" min="0" max="1" step="0.1" value="0">
			</div>
			<div>
				<label for="emotion_strength[10004]">Fear</label>
				<input type="number" name="emotion_strength[10004]" min="0" max="1" step="0.1" value="0">
			</div>
			<div>
				<label for="emotion_strength[10006]">Sadness</label>
				<input type="number" name="emotion_strength[10006]" min="0" max="1" step="0.1" value="0">
			</div>
			<div>
				<label for="emotion_strength[10007]">Surprise</label>
				<input type="number" name="emotion_strength[10007]" min="0" max="1" step="0.1" value="0">
			</div>
		</p>
		<h2>Internal Parameters</h2>
		<p>(You don't need to care of it in most cases)</p>
		<p>
			<label for="tts_activation_timestep">TTS Activation Timestep (optional)</label>
			<input type="number" name="tts_activation_timestep">
		</p>
		<p>
			<label for="tts_sampling_hop">TTS sampling Hop (optional)</label>
			<input type="number" name="tts_sampling_hop">
		</p>
		<h2>Actions</h2>
		<p>
			<input type="submit" value="Generate">
			<input type="reset" value="Reset">
		</p>
	 </form>
</body>
</html>
